:root {
    --main-color: rgb(25, 25, 70);
}

h1 {
    color: var(--main-color);
}

h2 {
    color: white;
}

p {
    color: rgb(214, 214, 214)
}

h1,
h2,
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 80%;
    padding: 1rem;
    background-color: var(--main-color);
}

.card img {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
}