:root {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    --main-color: #da811b;
    --text-on-color: white;
    --background-color: white;
    --accent: #3C6E84;
    --color-mode-background: white;
    --color-mode-text: black;
    --valid: rgb(181, 218, 181);
    --invalid: rgb(246, 181, 181);
}

:root .dark-mode {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    --main-color: #da811b;
    --text-on-color: white;
    --background-color: black;
    --accent: #3C6E84;
    --color-mode-background: black;
    --color-mode-text: white;
    --valid: rgb(181, 218, 181);
    --invalid: rgb(246, 181, 181);
}



* {
    box-sizing: border-box;
}

header,
main,
footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#hero-img img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 0 25%;
}


#logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 7%;
}

#responsive-menu {
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    color: var(--text-on-color);
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
}

#responsive-menu::before {
    content: "☰";
}

#responsive-menu:hover {
    background-color: var(--main-color);
    color: var(--text-on-color);
    transition: .5s;
    border-radius: .5rem;
}

.open li {
    display: block;
}

#responsive-menu.open::before {
    content: "X";
    color: var(--accent);
    position: absolute;
}

#responsive-menu.open:hover::before {
    color: var(--main-color);
    transition: .5s;
}

nav {
    width: 100%;
    display: none;
}

nav.open {
    display: block;
}

#navigation ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
    background-color: var(--background-color);
}

#navigation ul li a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    text-align: center;
    color: var(--main-color);
    font-size: 1.5rem;
    transition: 0.3s;
}

#navigation ul li a:hover {
    display: block;
    background-color: var(--main-color);
    color: var(--text-on-color);
    transition: 0.5s;
}

.hero-text {
    color: var(--text-on-color);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero-button {
    color: var(--color-mode-background);
    background-color: var(--main-color);
    border-radius: 2rem;
    padding: 1rem;
}

#hero-button:hover {
    background-color: var(--color-mode-background);
    color: var(--color-mode-text);
    transition: 0.5s;
}

.hero-text>h1 {
    font-size: 2rem;
}

#color-mode {
    color: var(--color-mode-background);
    background-color: transparent;
    border: .1rem solid var(--color-mode-background);
    position: absolute;
    top: 2rem;
    right: 6rem;
}

#color-mode::before {
    content: "Dark Mode";
}

#color-mode:hover {
    background-color: var(--color-mode-text);
    color: var(--color-mode-background);
    transition: .5s;
    border-radius: .5rem;
    border: 0;
}

#color-mode.dark-mode::before {
    content: "Light Mode";
}

main {
    padding: 1rem;
}

h2 {
    color: var(--main-color);
    font-size: 2rem;
}

.responsive {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.discover-responsive {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    margin-top: 2rem;
}

.discover-responsive:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--accent);
    transform: translateY(-0.5rem);
    transition: 1s;
}

#opportunity-one,
#opportunity-two,
#opportunity-three {
    position: relative;
}

#opportunities div h3 {
    color: var(--text-on-color);
    position: absolute;
    font-size: 2rem;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#get-on-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#map-img {
    grid-column: 2 / 3;
    width: 100%;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

#join-community {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#join-community>h2 {
    grid-column: 1 / 3;
}

#join-community>img {
    width: 100%;
    padding: 1rem;
}

#hightlight-one {
    grid-column: 1 / 3;
}

#highlight-two {
    grid-column: 1 / 2;
}

#hightlight-three {
    grid-column: 2 / 3;
}

#highlight-four {
    grid-column: 1 / 2;
}

#hightlight-five {
    grid-column: 2 / 3;
}

#highlight-six {
    grid-column: 1 / 2;
}

#highlight-seven {
    grid-column: 2 / 3;
}

#weather>h2 {
    text-align: center;
}

footer {
    background-color: var(--main-color);
    color: var(--text-on-color);
    padding: 1rem;
}

#footer-links ul {
    list-style-type: none;
}

#diversity-chart {
    object-fit: contain;
}


#form-main fieldset {
    margin-bottom: 2rem;
    max-width: 40rem;
    border: 0;
}

#form-main legend {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#form-main h3 {
    color: var(--accent);
    font-weight: bold;
}

#form-main label {
    display: block;
    margin-bottom: 2rem;
}

#form-main input,
#form-main select {
    display: block;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: .5rem;
    margin-top: .5rem;
    width: 100%;
}

#form-main input:hover,
#form-main select:hover {
    border-bottom: .1rem solid var(--main-color);
    transition: .5s;
}

#form-main input:placeholder-shown {
    font-style: italic;
}

#form-main input:focus {
    border-bottom: .1rem solid var(--main-color);
}

#form-main #submit-join-request {
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--main-color);
    color: white;
    margin-left: .5rem;
}

#membership-types {
    margin-top: 5rem;
}

#membership-types h2 {
    color: var(--accent);
    text-align: center;
}

#membership-types div {
    border-radius: 1.5rem;
    border: .3rem solid var(--accent);
    margin-bottom: 1rem;
    padding: 1rem;
}

#membership-types div h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#membership-types div p,
#membership-types div ul li {
    color: var(--accent);
}

.display-price {
    color: var(--accent);
    font-size: 2rem;
    font-weight: bold;
}