:root {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    --main-color: #da811b;
    --text-on-color: white;
    --background-color: white;
    --accent: #3C6E84;
}

@media screen and (min-width: 935px) {
    .hero-text>h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    main p {
        font-size: 1.75rem;
    }

    main li {
        font-size: 1.75rem;
    }

    .responsive {
        height: 200px;
    }

    #opportunities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    #opportunities>h2 {
        grid-column: 1 / 4;
    }

    #opportunities div h3 {
        font-size: 2.5rem;
    }

    #opportunity-one {
        grid-column: 1 / 2;
        padding-right: 1rem;
    }

    #opportunity-two {
        grid-column: 2 / 3;
        padding-left: 0;
        padding-right: 1rem;

    }

    #opportunity-three {
        grid-column: 3 / 4;
        padding-top: 0;
    }

    #api-weather {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }


    #map-img {
        height: 40rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
    }

    #discover-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #discover-sidebar {
        grid-column: 1 / 2;
    }

    #discover-pictures {
        grid-column: 2 / 3;
        padding-left: 2rem;
    }

    #form-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #form-main h1 {
        grid-column: 1 / 3;
    }

    #form-main form {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #form-main #membership-types {
        display: block;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 0;
    }

    #form-main h2 {
        font-size: 2rem;
    }

    #membership-types div h3 {
        font-size: 1.25rem;
    }

    #membership-types div p,
    #membership-types div ul li {
        font-size: 1rem;
    }

    .display-price {
        font-size: 1.25rem;
        font-weight: bold;
    }
}