:root {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    --main-color: #da811b;
    --text-on-color: white;
    --background-color: white;
    --accent: #3C6E84;
}

@media screen and (min-width: 640px) {

    .hero-text>h1 {
        font-size: 3rem;
    }

    #responsive-menu {
        display: none;
    }

    nav {
        display: block;
    }

    #navigation ul {
        display: flex;
        position: absolute;
        top: 1.5rem;
        left: auto;
        right: 1.5rem;
        height: auto;
        width: 60%;
        background-color: transparent;
    }

    #navigation ul li a {
        color: var(--text-on-color);
        font-size: 1rem;
        padding: .5rem;
    }

    #navigation ul li a:hover {
        background-color: var(--background-color);
        color: var(--main-color);
        border-radius: 2rem;
    }

    nav ul li {
        flex: 1 1 100%;
        border-radius: 2rem;
        margin: .25rem;
        border: 0.1em solid var(--text-on-color);
    }

    #color-mode {
        top: 5rem;
        right: 2rem;
    }

    #opportunities {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #opportunities>h2 {
        grid-column: 1 / 3;
    }

    .responsive {
        height: 15rem;
    }

    #opportunity-one {
        grid-column: 1 / 2;
        padding-right: 0.5rem;
    }

    #opportunity-two {
        grid-column: 2 / 3;
        padding-left: 0.5rem;
    }

    #opportunity-three {
        grid-column: 1 / 3;
        padding-top: 0.75rem;
    }

    #opportunities div h3 {
        font-size: 3rem;
        top: 30%;
    }

    #join-community {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #join-community>h2 {
        grid-column: 1 / 4;
        text-align: center;
    }

    #join-community>img {
        width: 100%;
        padding: 1rem;
    }

    #hightlight-one {
        grid-column: 1 / 4;
    }

    #highlight-two {
        grid-column: 1 / 2;
    }

    #hightlight-three {
        grid-column: 2 / 3;
    }

    #highlight-four {
        grid-column: 3 / 4;
    }

    #hightlight-five {
        grid-column: 1 / 2;
    }

    #highlight-six {
        grid-column: 2 / 3;
    }

    #highlight-seven {
        grid-column: 3 / 4;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #footer-contact {
        grid-column: 1 / 2;
    }

    #footer-links {
        grid-column: 2 / 3;
    }

    #footer-links h3 {
        text-align: right;
    }

    #footer-links ul {
        text-align: right;
    }

    #site-info {
        grid-column: 1 / 3;
        text-align: center;
        font-size: 0.75rem;
    }


    #membership-types {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #membership-types h2 {
        grid-column: 1 / 3;
    }

    #membership-types div {
        margin: 1rem;
    }

    #non-profit {
        grid-column: 1 / 2;
    }

    #bronze {
        grid-column: 2 / 3;
    }

    #silver {
        grid-column: 1 / 2;
    }

    #gold {
        grid-column: 2 / 3;
    }
}